/* contato */

.contact-items {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact {
    background: rgb(130, 19, 194);
    padding: 80px 0;
    position: relative;
    z-index: 1;
}

.contact::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.contact-items h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 18px;
}

.contact-items input[type="text"] {
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px;
    width: 50%;
}

.contact-items textarea {
    border-radius: 10px;
    height: 150px;
    padding: 15px;
    width: 50%;
}

.contact-items a {
    background: rgb(90, 15, 230);
    color: #fff;
    display: block;
    font-size: 20px;
    margin-top: 25px;
    padding: 15px 80px;
    text-decoration: none;
    text-transform: uppercase;
}